entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Start API"

[[workflows.workflow]]
name = "Start API"
author = 44912390
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd API && node app.js"
